<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Mini Messageboard</title>
  </head>
  <body>
    <form method="POST" action="/new">
      <h2>Write a new message</h2>
      <label for="user-name">Username :</label>
      <input id="user-name" type="text" name="user" />

      <label for="user-message">Message :</label>
      <input id="user-message" type="text" name="text" />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
